body {
    background-color: gray;
}

#companyHeader {
    display: flex;
    flex-direction: column;  
}
#title {
    display: flex;
    justify-content: center;
}
#header-img {
    display: flex;
    justify-content: center;
}

#mainFlexBox {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#navBarFlex {
    display: flex;
    align-items: left;
}
#whatWeDo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
}
#whatWeDoHeader {
    display:flex;
    
    justify-content: center;
    
}
#videoFlex {
    display: flex;
    align-items: center;
}